# ---------------------------- User Settings ----------------------------
CERN_USERNAME=""
CERN_USERID=""
CERN_FULL_NAME=""
# ---------------------------- Jenkins and server configuration ----------------------------
JENKINS_SITE="DIRAC.Jenkins.ch"
JENKINS_CE="jenkins.cern.ch"
JENKINS_QUEUE="jenkins-queue_not_important"
WNVO="dteam"
SETUP="DIRAC-Certification"
CENAME="jenkins.cern.ch"

# ---------------------------- Miscellanous ----------------------------
DIRAC_VERSION="main"
CONFIGURATION_SERVER="https://lbcertifdirac70.cern.ch:9135/Configuration/Server"
DIRACUSERDN_GRIDPP="unknown"
GITHUB_JOB="$((1 + $RANDOM % 10))"
CVMFS_LOCATION="./cvmfs"
CERT_LOCATION="./certs/"
# !Important!
PILOT_PATH="../Pilot"
